<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.3" targetFramework="net452" />
  <package id="log4net" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="NHttp" version="0.1.9.0" targetFramework="net452" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net452" />
  <package id="slf4net.log4net" version="0.1.32.1" targetFramework="net452" />
</packages>